{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "no-undef": 0,
        "no-func-assign": 0,
        "padding-line-between-statements": [
            "error",
            {
                "blankLine": "always",
                "prev": ["export", "class"],
                "next": "*"
            }
        ]
    },
    "ignorePatterns": ["cdk.out/*", "dist/*"]
}
