{
    "version" : "2017-02-28",
    "operation" : "GetItem",
    "key" : {
        "PK" : $util.dynamodb.toDynamoDBJson("RECORD#${ctx.args.id}"),
        "SK" : $util.dynamodb.toDynamoDBJson("RECORD#${ctx.args.id}#METADATA")
    },
}