{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
      "expression": "#GSI1PK = :GSI1PK",
      "expressionNames": {
        "#GSI1PK": "GSI1PK"
      },
      "expressionValues" : {
        ":GSI1PK": $util.dynamodb.toDynamoDBJson($ctx.args.input.awsAccountId)
      }
    },
    "index" : "GSI1"
    #if( $ctx.args.input.limit )
    ,"limit": $util.toJson($ctx.args.input.limit)
    #end
    #if( $ctx.args.input.nextToken )
    ,"nextToken": $util.toJson($ctx.args.input.nextToken)
    #end
}
