{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
      "expression": "#GSI1PK = :GSI1PK and begins_with(#GSI1SK, :GSI1SK)",
      "expressionNames": {
        "#GSI1PK": "GSI1PK",
        "#GSI1SK": "GSI1SK"
      },
      "expressionValues" : {
        ":GSI1PK": $util.dynamodb.toDynamoDBJson($ctx.args.input.awsAccountId),
        ":GSI1SK": $util.dynamodb.toDynamoDBJson("#REGION#${ctx.args.input.awsRegion}")
      }
    },
    "index" : "GSI1"
    #if( $ctx.args.input.limit )
    ,"limit": $util.toJson($ctx.args.input.limit)
    #end
    #if( $ctx.args.input.nextToken )
    ,"nextToken": $util.toJson($ctx.args.input.nextToken)
    #end
}
