{
    "version" : "2017-02-28",
    "operation" : "Query",
    "query" : {
      "expression": "#PK = :PK and begins_with(#SK, :SK)",
      "expressionNames": {
        "#PK": "PK",
        "#SK": "SK"
      },
      "expressionValues" : {
        ":PK": $util.dynamodb.toDynamoDBJson("RECORD#${ctx.args.input.id}"),
        ":SK": $util.dynamodb.toDynamoDBJson("EVENT#")
      }
    },
    "scanIndexForward" : true
    #if( $ctx.args.input.limit )
    ,"limit": $util.toJson($ctx.args.input.limit)
    #end
    #if( $ctx.args.input.nextToken )
    ,"nextToken": $util.toJson($ctx.args.input.nextToken)
    #end
}
